<div>
    <h1 translate>Sights List</h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
				<th translate>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="sight in sights">
				<td>{{sight.Name}}</td>
                <td>
                    <a href="/backend/sights/edit/{{sight.Id}}" class="btn btn-default btn-xs" translate>edit</a>
                    <a href="/backend/sights/delete/{{sight.Id}}" class="btn btn-danger btn-xs" translate>delete</a>
                </td>
            </tr>
        </tbody>
    </table>

    <p>
        <a href="/backend/sights/add" class="btn btn-primary" translate>Add New Sight</a>
    </p>
</div>